- provide(:title, 'Blogs')
%p#notice= notice
%h1 Blogs
%table
  %thead
    %tr
      %th Title
      %th Date
      %th Body
      %th{:colspan => "4"}
  %tbody
    = render @blogs
%br/
= link_to 'New Blog', new_blog_path if can? :create, Blog
