- provide(:title, 'Portfolio Items')
#portfolio.portfolio{:style => "margin-top:100px;"}
  .container
    %h1 Portfolio Items
    = link_to 'Create new item', new_portfolio_path if can? :create, Portfolio
    = render partial: 'portfolio_item', collection: @portfolio_items
