- provide(:title, 'Home')
%main.inner.cover{:role => "main"}
  %h1.cover-heading Hi, My name is Luong Thien Le
  %p.lead I design and build web applications using Ruby on Rails technology
  %p.lead
    = link_to 'More about me', about_path, class: 'btn btn-lg btn-secondary'
