!!!
%html.html_stretched.responsive.av-preloader-disabled.av-default-lightbox.html_header_top.html_logo_left.html_main_nav_header.html_menu_right.html_custom.html_header_sticky_disabled.html_header_shrinking_disabled.html_mobile_menu_phone.html_header_searchicon_disabled.html_content_align_center.html_header_unstick_top_disabled.html_header_stretch_disabled.html_av-submenu-hidden.html_av-submenu-display-click.html_av-overlay-side.html_av-overlay-side-classic.html_av-submenu-noclone.html_entry_id_4171.av-no-preview.html_text_menu_active{:lang => "en-US"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "index, follow", :name => "robots"}/
    / mobile setting
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    / Scripts/CSS and wp_head hook
    %title Hilary – Live Preview
    %meta{:content => "noindex,follow", :name => "robots"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/feed/", :rel => "alternate", :title => "Live Preview » Feed", :type => "application/rss+xml"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/comments/feed/", :rel => "alternate", :title => "Live Preview » Comments Feed", :type => "application/rss+xml"}/
    / google webfont font replacement
    %link#avia-google-webfont{:href => "//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700%7CMaven+Pro%7CGruppo", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    :css
      img.wp-smiley,
      img.emoji {
      	display: inline !important;
      	border: none !important;
      	box-shadow: none !important;
      	height: 1em !important;
      	width: 1em !important;
      	margin: 0 .07em !important;
      	vertical-align: -0.1em !important;
      	background: none !important;
      	padding: 0 !important;
      }
    %link#mediaelement-css{:href => "http://gooyaabitemplates.com/livepreview/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.6-78496d1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#wp-mediaelement-css{:href => "http://gooyaabitemplates.com/livepreview/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=4.9.4", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-grid-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/css/grid.css?ver=4.2.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-base-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/css/base.css?ver=4.2.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-layout-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/css/layout.css?ver=4.2.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-scs-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/css/shortcodes.css?ver=4.2.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-popup-css-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/js/aviapopup/magnific-popup.css?ver=4.2.2", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-print-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/css/print.css?ver=4.2.2", :media => "print", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-dynamic-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/uploads/dynamic_avia/gooyaabi_templates.css?ver=5a749209b2131", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#avia-custom-css{:href => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/css/custom.css?ver=4.2.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-includes/js/jquery/jquery.js?ver=1.12.4", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/js/avia-compat.js?ver=4.2.2", :type => "text/javascript"}
    :javascript
      var mejsL10n = {"language":"en","strings":{"mejs.install-flash":"You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/","mejs.fullscreen-off":"Turn off Fullscreen","mejs.fullscreen-on":"Go Fullscreen","mejs.download-video":"Download Video","mejs.fullscreen":"Fullscreen","mejs.time-jump-forward":["Jump forward 1 second","Jump forward %1 seconds"],"mejs.loop":"Toggle Loop","mejs.play":"Play","mejs.pause":"Pause","mejs.close":"Close","mejs.time-slider":"Time Slider","mejs.time-help-text":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.","mejs.time-skip-back":["Skip back 1 second","Skip back %1 seconds"],"mejs.captions-subtitles":"Captions\/Subtitles","mejs.captions-chapters":"Chapters","mejs.none":"None","mejs.mute-toggle":"Mute Toggle","mejs.volume-help-text":"Use Up\/Down Arrow keys to increase or decrease volume.","mejs.unmute":"Unmute","mejs.mute":"Mute","mejs.volume-slider":"Volume Slider","mejs.video-player":"Video Player","mejs.audio-player":"Audio Player","mejs.ad-skip":"Skip ad","mejs.ad-skip-info":["Skip in 1 second","Skip in %1 seconds"],"mejs.source-chooser":"Source Chooser","mejs.stop":"Stop","mejs.speed-rate":"Speed Rate","mejs.live-broadcast":"Live Broadcast","mejs.afrikaans":"Afrikaans","mejs.albanian":"Albanian","mejs.arabic":"Arabic","mejs.belarusian":"Belarusian","mejs.bulgarian":"Bulgarian","mejs.catalan":"Catalan","mejs.chinese":"Chinese","mejs.chinese-simplified":"Chinese (Simplified)","mejs.chinese-traditional":"Chinese (Traditional)","mejs.croatian":"Croatian","mejs.czech":"Czech","mejs.danish":"Danish","mejs.dutch":"Dutch","mejs.english":"English","mejs.estonian":"Estonian","mejs.filipino":"Filipino","mejs.finnish":"Finnish","mejs.french":"French","mejs.galician":"Galician","mejs.german":"German","mejs.greek":"Greek","mejs.haitian-creole":"Haitian Creole","mejs.hebrew":"Hebrew","mejs.hindi":"Hindi","mejs.hungarian":"Hungarian","mejs.icelandic":"Icelandic","mejs.indonesian":"Indonesian","mejs.irish":"Irish","mejs.italian":"Italian","mejs.japanese":"Japanese","mejs.korean":"Korean","mejs.latvian":"Latvian","mejs.lithuanian":"Lithuanian","mejs.macedonian":"Macedonian","mejs.malay":"Malay","mejs.maltese":"Maltese","mejs.norwegian":"Norwegian","mejs.persian":"Persian","mejs.polish":"Polish","mejs.portuguese":"Portuguese","mejs.romanian":"Romanian","mejs.russian":"Russian","mejs.serbian":"Serbian","mejs.slovak":"Slovak","mejs.slovenian":"Slovenian","mejs.spanish":"Spanish","mejs.swahili":"Swahili","mejs.swedish":"Swedish","mejs.tagalog":"Tagalog","mejs.thai":"Thai","mejs.turkish":"Turkish","mejs.ukrainian":"Ukrainian","mejs.vietnamese":"Vietnamese","mejs.welsh":"Welsh","mejs.yiddish":"Yiddish"}};
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=4.2.6-78496d1", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-includes/js/mediaelement/mediaelement-migrate.min.js?ver=4.9.4", :type => "text/javascript"}
    :javascript
      /* <![CDATA[ */
      var _wpmejsSettings = {"pluginPath":"\/livepreview\/wp-includes\/js\/mediaelement\/","classPrefix":"mejs-","stretching":"responsive"};
      /* ]]> */
    %link{:href => "http://gooyaabitemplates.com/livepreview/wp-json/", :rel => "https://api.w.org/"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/xmlrpc.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
    %meta{:content => "WordPress 4.9.4", :name => "generator"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/hilary/", :rel => "canonical"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/?p=4171", :rel => "shortlink"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fgooyaabitemplates.com%2Flivepreview%2Fhilary%2F", :rel => "alternate", :type => "application/json+oembed"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fgooyaabitemplates.com%2Flivepreview%2Fhilary%2F&format=xml", :rel => "alternate", :type => "text/xml+oembed"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/feed/", :rel => "alternate", :title => "Live Preview RSS2 Feed", :type => "application/rss+xml"}/
    %link{:href => "http://gooyaabitemplates.com/livepreview/xmlrpc.php", :rel => "pingback"}/
    %style{:media => "screen", :type => "text/css"}
      :cdata
        \#top #header_main > .container, #top #header_main > .container .main_menu  .av-main-nav > li > a, #top #header_main #menu-item-shop .cart_dropdown_link{ height:50px; line-height: 50px; }
        \.html_top_nav_header .av-logo-container{ height:50px;  }
        \.html_header_top.html_header_sticky #top #wrap_all #main{ padding-top:50px; }
    /[if lt IE 9] <script src="http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/js/html5shiv.js"></script>
    %link{:href => "http://gooyaabitemplates.com/download/favicon-4.ico", :rel => "icon", :type => "image/x-icon"}/
    :css
      @font-face {font-family: 'entypo-fontello'; font-weight: normal; font-style: normal;
      src: url('http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.eot?v=3');
      src: url('http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.eot?v=3#iefix') format('embedded-opentype'),
      url('http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.woff?v=3') format('woff'),
      url('http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.ttf?v=3') format('truetype'),
      url('http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello.svg?v=3#entypo-fontello') format('svg');
      } #top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before{ font-family: 'entypo-fontello'; }
  %body#top.page-template-default.page.page-id-4171.stretched.open_sans_condensed.maven_pro{:itemscope => "itemscope", :itemtype => "https://schema.org/WebPage"}
    #wrap_all
      #main.all_colors{"data-scroll-offset" => "0"}
        .container_wrap.container_wrap_first.main_color.fullsize
          .container
            %main.template-page.content.av-content-full.alpha.units{:itemprop => "mainContentOfPage", :role => "main"}
              %article.post-entry.post-entry-type-page.post-entry-4171{:itemscope => "itemscope", :itemtype => "https://schema.org/CreativeWork"}
                .entry-content-wrapper.clearfix
                  %header.entry-content-header
                  .entry-content{:itemprop => "text"}
                    / iframe plugin v.4.3 wordpress.org/plugins/iframe/
                    %iframe.iframe-class{:allowfullscreen => "", :frameborder => "0", :height => "4056", :scrolling => "yes", :src => "http://hilary-beautytemplates.blogspot.com/", :width => "100%"}
                    .avia-button-wrap.avia-button-left.avia-builder-el-0.el_before_av_button.avia-builder-el-first
                      %a.avia-button.avia-icon_select-yes-left-icon.avia-color-custom.avia-size-large.avia-position-left{:href => "https://gooyaabitemplates.com/hilary-blogger-template/", :style => "background-color:#ea2e49; border-color:#ea2e49; color:#ffffff; "}
                        %span.avia_button_icon.avia_button_icon_left{"aria-hidden" => "true", "data-av_icon" => "", "data-av_iconfont" => "entypo-fontello"}
                        %span.avia_iconbox_title Download This Template
                    .avia-button-wrap.avia-button-right.avia-builder-el-1.el_after_av_button.avia-builder-el-last
                      %a.avia-button.avia-icon_select-yes-left-icon.avia-color-custom.avia-size-large.avia-position-right{:href => "http://hilary-beautytemplates.blogspot.com/", :style => "background-color:#0ad2ad; border-color:#0ad2ad; color:#ffffff; "}
                        %span.avia_button_icon.avia_button_icon_left{"aria-hidden" => "true", "data-av_icon" => "", "data-av_iconfont" => "entypo-fontello"}
                        %span.avia_iconbox_title Remove Frame to Full Site Preview
                    .itanywhere-activator{:style => "left: 729px; top: 115px; display: none;", :title => "Google Translator Anywhere"}
                  %footer.entry-footer
              / end post-entry
              / end content
          / end container
        / close default .container_wrap element
        / end main
      / end wrap_all
    :javascript
      jQuery(window).load(function(){
      jQuery(".rel-nofollow a").attr("rel", "nofollow");
      });
    :javascript
      /* <![CDATA[ */
      var avia_framework_globals = avia_framework_globals || {};
          avia_framework_globals.frameworkUrl = 'http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/framework/';
          avia_framework_globals.installedAt = 'http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/';
          avia_framework_globals.ajaxurl = 'http://gooyaabitemplates.com/livepreview/wp-admin/admin-ajax.php';
      /* ]]> */
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/js/avia.js?ver=4.2.2", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/js/shortcodes.js?ver=4.2.2", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-content/themes/Gooyaabi%20Templates/js/aviapopup/jquery.magnific-popup.min.js?ver=4.2.2", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.9.4", :type => "text/javascript"}
    %script{:src => "http://gooyaabitemplates.com/livepreview/wp-includes/js/wp-embed.min.js?ver=4.9.4", :type => "text/javascript"}
    #fb-root
/ Dynamic page generated in 0.524 seconds.
/ Cached page generated by WP-Super-Cache on 2018-03-31 19:56:35
/ super cache
