/******************/
/*Contact*/
/******************/
.contacts {
  .grey{
	color: #8799a3;
  }
  p {
    color: #000;
    font-family: 'Cambay';
  }
  h2{
    padding-top: 60px;
  	font-family: "Montserrat";
    font-weight: 900;
  	font-size: 42px;
  	color: #000;
  	margin-bottom: 40px;
  }
}
