@import "bootstrap";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Leckerli+One';
@import 'https://fonts.googleapis.com/css?family=Cambay:400,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:800,300,700,900';
@import 'https://fonts.googleapis.com/css?family=Coustard';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:500';
$bg-color: #fff;


/******************/
/*General styles*/
/******************/
html {
  position: relative;
  min-height: 100%;
}
body{
	background-color: $bg-color;
  margin-bottom: 60px;
}
/******************/
/*Navigation bar*/
/******************/
.navbar-dark .navbar-brand {
  &:hover{
  	color: #8799a3;}
	font-family: 'Coustard', serif;
	font-size: 36px;
	color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-size: 18px;
	font-family: "Work Sans";
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #8799a3;
}

.navbar-dark .navbar-nav .active>.nav-link{
	color: #8799a3;
}

.right-link a{
	color: #ffff00;
	border: 2px solid #ffff00;
	padding:5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
}

.right-link{
	list-style-type: none;
}

/******************/
/*Home Section*/
/******************/
#home {
  margin-top: 110px;
  padding-left: 170px;
  h1{
  	color: #000;
  	font-family: 'Leckerli One', cursive;
  	font-size: 36px;
  }

  h2{
    span {
      color: #0081ff;
    }
  	font-family: 'Montserrat', sans-serif;
  	font-size: 60px;
    font-weight: 800;
  	color: #000;
  }

  h3{
  	font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  	font-size: 40px;
  	color: #000;
  }

  p{
  	color: #636363;
  	font-size: 24px;
  	font-family: 'Cambay', sans-serif;
  	margin-top: 25px;
    margin-bottom: 45px;
  }

  a{
  	color: #000;
  	font-size: 14px;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  	background-color: rgba(146,146,146, 0.3);
  	padding-top: 25px;
  	padding-bottom: 25px;
  	padding-right: 40px;
  	padding-left: 40px;
  	border-radius: 30px;
    border: 1px solid #0081ff;
  }
}

/******************/
/*Contact*/
/******************/
.contacts {
  .grey{
	color: #8799a3;
  }
  p {
    color: #000;
    font-family: 'Cambay';
  }
  h2{
    padding-top: 60px;
  	font-family: "Montserrat";
    font-weight: 900;
  	font-size: 42px;
  	color: #000;
  	margin-bottom: 40px;
  }
}
/******************/
/*About Me*/
/******************/

#aboutme{
	padding-top: 120px;
  h1 {
    font-family: 'Leckerli One';
    font-size: 50px;
  }
  p.subtitle{
  	color: #000;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  	font-size: 20px;
  }
}

/******************/
/*Social Network*/
/******************/

.social{
	padding-top: 80px;
	padding-bottom: 80px;
}

.social p{
	font-family: 'Cambay', sans-serif;
}

.fa{
	padding: 20px;
	font-size: 20px;
	color: #4da7ff;
}

.fa:hover{
	color:white;
}


/******************/
/*Portfolio*/
/******************/

.portfolio h2{
	padding-top: 35px;
	font-family: 'Montserrat', sans-serif;
  font-weight: 900;
	font-size: 42px;
}

.portfolio a{
	font-family: 'Montserrat', sans-serif;
  font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #1cbbb4;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
	border-radius: 70px;
	color: white;
}

.portfolio img, .container-fluid{
	margin: 0;
	padding: 0;
}


/******************/
/*Portfolio IMG*/
/******************/

@media (min-width:768px){
	.projects *{
		margin: 0px;
		padding: 0px;
	}
}


@media (max-width:768px){
	.projects img{
		width: 100%;
	}
}


/******************/
/*Clients review*/
/******************/

.client{
	background-image: url(/assets/client_background.png);
	padding-top: 225px;
}

.client h2{
	font-family: 'Montserrat', sans-serif;
  font-weight: 900;
	font-size: 42px;
	color: #fff;
	text-align: center;
}

@media (min-width:768px){
	.comments{
		width: 750px;
		padding-top: 80px;
	}
}



/******************/
/*Partners Logo*/
/******************/

.partners img{
	padding: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}


/******************/
/*Blog*/
/******************/

.blog{
	padding-top: 80px;
}

.blog h2{
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
  font-weight: 900;
	font-size: 42px;
}

.blog p{
	font-family: 'Cambay', sans-serif;
}

/******************/
/*Quote*/
/******************/

.quote{
	background-color: #007efa;
}

.date{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
  font-weight: 800;
	padding-top: 35px;
	text-align: center;
	color: #fff;
}

.citation{
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding:10px;
}

.author{
	font-size: 18x;
	color: #ffff00;
	font-family: 'Cambay', sans-serif;
  font-weight: 700;
	text-align: center;
	padding-bottom: 50px;
}

.gallery{
	background-image: url(/assets/bgphoto.png);
	background-size: cover;
	padding-left: 50px;
}

.gallery p{
	width: 350px;
}

.dategallery{
	font-family: 'Montserrat', sans-serif;
  font-weight: 900;
	font-size: 20px;
	color: #8799a3;
	padding-top: 100px;
	font-weight: bold;
}

.titlegallery{
	font-family: 'Montserrat', sans-serif;
  font-weight: 900;
	font-size: 32px;
	color: #fff;
	font-weight: bold;
}

.descriptiongallery{
	font-family: 'Cambay', sans-serif;
	font-size: 16px;
	color: #fff;
}

.gallerylink{
	color:black;
	margin-top: 40px;
	background-color: #fefb30;
	padding:20px;
	border-radius: 50px;
	font-family: "Montserrat";
  font-weight: 800;
	font-size: 14px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

.linkspace{
	padding-top: 40px;
	padding-bottom: 90px;
}

.standardformat{
	background-image: url(/assets/standardformat.png);
	background-size: cover;
	padding-left: 40px;
}

.datestandardformat{
	padding-top: 40px;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
  font-weight: 800;
	color: #bbc7cd;
}

.textstandardformat{
	font-family: "Montserrat", sans-serif;
  font-weight: 900;
	font-size: 24px;
	color:black;
	padding-bottom: 50px;
}

.videoformat{
	background-image: url(/assets/videoformat.png);
	background-size: cover;
}

.videoformatdate{
	font-size: 16px;
	color: #fff;
	font-family: "Montserrat";
  font-weight: 800;
	text-align: center;
	padding-top: 50px;
}

.videoformattext{
	font-family: "Montserrat";
  font-weight: 900;
	font-size: 24px;
	padding-top: 25px;
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
}

.standartwhimg{
	background-color: #fff;
	padding-left: 40px;
	padding-top: 30px;
}

.datestandartwhimg{
	font-size: 16px;
	font-family: "Montserrat";
  font-weight: 800;
	color: #bbc7cd;
}

.titlestandartwhimg{
	font-weight: bold;
	color: black;
	font-family: "Montserrat";
  font-weight: 900;
	font-size: 22px;
}

.textstandartwhimg{
	font-size: 16px;
	font-family: "Cambay";
	color: #636363;
}

.viewallpost{
	background-color: #e91d62;
	color:white;
}

.viewallpost a{
	color:white;
}

.viewallposttext{
	padding-bottom: 85px;
	padding-top: 85px;
	text-align: center;
}


/***************
*****FOOTER****
***************/

.footer{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  p{
  	color: #464646;
    margin-bottom: 0;
  }
}
