%footer.footer.text-center
  .container
    .ul.list-inline
      .li.list-inline-item
        %a{ href: 'https://fb.com/thienle.luong' }
          = icon('fab', 'facebook fa-2x')
      .li.list-inline-item
        %a{ href: 'https://fb.com/thienle.luong' }
          = icon('fab', 'github fa-2x')
    %p= copyright_generator 'Thienle', 'All right reserved'
